﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BstKeeper._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="jumbotron">
        <h1>Beast Keeper</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac convallis libero, ultricies viverra justo. Sed tempus eget leo ut varius.
            Pellentesque ex lectus, scelerisque eget rutrum sit amet, dignissim non nisl. Curabitur nec risus facilisis, tempus odio non, fermentum dolor.
            Cras pellentesque convallis risus, bibendum rutrum arcu ullamcorper eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut dictum turpis. 
            Phasellus sit amet tincidunt ipsum, et viverra neque. Sed iaculis eget nisl et egestas. Mauris lacus ex, varius sed dictum nec, dignissim ut ligula. Nam ut orci dui.
        </p>
    </div>

</asp:Content>
