﻿<%@ Page Title="My Selected Beasts" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="MySelectedBeasts.aspx.cs" Inherits="BstKeeper.MySelectedBeasts" %>


<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    
    <h2><%: Title %>.</h2>
    <p>Use this area to provide additional information.</p>




</asp:Content>
